/*
Tailles mobiles : 

1 pouce = 96 Pixel
4 pouce = 384 pixel
4.5 pouce = 432 pixel
5 pouce = 480 pixel
5.2 pouce = 499 pixel
5.5 pouce = 528 pixel
6 pouce = 576 pixel
6.5 pouce = 624 pixel
*/

@import url(https://fonts.googleapis.com/css?family=Varela+Round|Shadows+Into+Light|Roboto:400,500);

.alertSpace{
	padding-top: 60px;	
}

html, body {
    height: 100%;
    margin: 0; padding: 0;
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed;  
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 	
	
    font-family: 'Varela Round', sans-serif; font-size:14px;
    font-weight: 400;
    text-align: center;	
}

p {
	color: #848484;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.4px;
	line-height: 28px;
}

/* Réduit la taille de l'image pour les mobiles ayant une taille < 400px */
@media 
only screen and (max-width: 400px) {
	.responsive {
		width: 188px;
	}
}	

.txtAccueil {
	font-family: 'Shadows Into Light', cursive;
	color : #FFF;	
	font-weight: normal;	
	font-size: 28px;
}

/* Styles CSS spÃ©cifiques mobiles */

@media 
only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.txtAccueil {
		font-size: 4em;
		font-size: 5vw;	
	}
}

/* Pris en compte pour une zone d'affichage supÃ©rieure Ã  480px  */
@media screen and (min-width: 480px) and (max-width: 1024px) and (orientation : landscape) {

}

.parallax-section {
	background-attachment: fixed !important;
	background-size: cover !important;
}

.heading {
	font-size: 22px;
	font-weight: 500;
}


/***********************************
 *
 * start navigation : #f69b0c : couleur orange
 *
 ***********************************/
 
/* Paramètres par défaut du menu */ 
.navbar-default {
	background: #ffffff;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
	border: none;
	margin-bottom: 0;
}
/* Hauteur du menu */
.navbar-brand, .navbar-nav li a {
	line-height: 28px;
}
/* Titre du site */
.navbar-default .navbar-brand  {
	color: #f69b0c; 
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 2px;
}
/* Taille police text du menu */
.navbar-default .navbar-nav li a {
	font-size: 12px;
	letter-spacing: 1px;
}
/* Survol & focus item menu : Couleur background & text */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #f69b0c; 
    color: #FFF;
}
/* Combo Survol & focus sous-item menu : Couleur background & text */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f69b0c;
	color: #FFF;
}
/* Combo élément actif : Couleur background & text */
.dropdown-toggle:active, .open .dropdown-toggle {
	background: #f69b0c !important; 
	color: #FFF !important;
}

/***********************************
 *
 *  Accueil section
 *
 ***********************************/
#home, #conteneur {
	margin-top : 50px;
}

#home .btn {
	width:180px;
	background: #f69b0c;
	border-radius: 10px;
	border: 2px solid #FFF;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 10px 10px;
	margin-top: 40px;
	transition: all 0.4s ease-in-out;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
}
#home .btn:hover {
	background: #FFF;
	color: #202020;
}

#home h1 {
	font-size: 20px;
	letter-spacing: 8px;
	font-style: normal;
	padding-top: 10px;
}
/***********************************
 *
 *  aide section
 *
 ***********************************/
#aide {
	margin-top : 160px;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FFF;
}

#aide h4 {
	line-height: 1.5;
}

#aide .col-md-8 {
	padding-bottom: 42px;
}

#aide .col-md-6 {
	padding-bottom: 18px;
}

#aide span {
	color: #5C5C5C;
}

#aide hr {
	border-top: 2px solid #828282;
	width: 265px;
}


/***********************************
 *
 *  contact section
 *
 ***********************************/
#contact {
	padding-top: 80px;
	padding-bottom: 100px;
	background: #f0f0f0;
}

#contact .col-md-8 {
	margin-bottom: 32px;
}

#contact .form-control {
	background: #ffffff;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
	border-color: #5c5c5c;
}

#contact input {
	height: 48px;
}

#contact input[type="submit"] {
	background: transparent;
	border: 2px solid #5c5c5c;
	border-radius: 10px;
	letter-spacing: 2px;
	margin-top: 12px;
	height: 50px;
}

#contact input[type="submit"]:hover {
	background: #5c5c5c;
	color: #ffffff;
}

#contact hr {
	border-top: 2px solid #828282;
	width: 205px;
}

/***********************************
 *
 *  footer section
 *
 ***********************************/
#footer {
	background: #5c5c5c;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	
/*	
	position: fixed;
	width: 100%;
    bottom: 0;
    right: 0;*/
}

#footer p, a {
	color: #ffffff;
	font-size: 12px;
}

#footer a:hover {
	color: #FF0;
}


/***********************************
 *
 *  
 *
 ***********************************/

.containerAttr{
	background-color:white;
	border-radius: 10px;
	padding: 20px;
}
.linkClass {
    color: #337ab7;
	text-decoration:none; 
	font-size:14px;
}
.content-section {
	padding-top: 110px;
	padding-bottom: 160px;
	display:block;
	position:relative;
	z-index:120;
}
.padding20 {
	padding: 20px;
}

.shareInput {
	display:inline-block;
	height:30px;
	width: 120px;
	padding:4px 6px;
	font-size:12px;
	line-height:20px;
	color:#555;
	border: solid 1px gainsboro;			
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	-moz-transition: box-shadow 0.3s, border 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
}
		
.shareInput:focus {
  	border: solid 1px #707070;
  	-webkit-box-shadow: 0 0 5px 1px #969696;
  	-moz-box-shadow: 0 0 5px 1px #969696;
  	box-shadow: 0 0 5px 1px #969696;
}
		
.input-group-addon {
	display:inline-block;
	height:30px;
	width:30px;
	padding:4px 6px;
	font-size:12px;
	line-height:20px;
	color:#555;
	border: solid 1px gainsboro;
	background-color:#fff;
	cursor: pointer;
}  	

#datepicker1, #datepicker2{
	margin-left: auto;
	margin-right: auto;
}	